{% set title = "Liste des utilisateurs" %}
{% extends 'admin_with_table.html.twig' %}

{% block table_content %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Username</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    <a href="{{ path('app_admin_user_new') }}"class="btn btn-add active">Ajouter un utilisateur</a>
{% endblock %}
