{% set title = "Présentation d'un utilisateur" %}
{% extends 'admin_with_table.html.twig' %}

{% block table_content %}
    <table>
        <tbody>
            <tr>
                <th>Id : </th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles : </th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe : </th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Username : </th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Vérifié : </th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>    
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-return active mt-2 mb-2">Retour à la liste</a>
{% endblock %}
