{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="text-center">
        <div class="card my-5 d-inline-block mx-auto">
            <div class="card-header my-custom-header text-center align-items-center d-flex justify-content-center">
                <h1 class="h3 mb-0 fw-normal">Inscription</h1>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.username, {
                            label: 'Nom d\'utilisateur',
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.first, {
                            label: 'Mot de passe',
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.second, {
                            label: 'Confirmez le mot de passe',
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'J\'accepte les conditions d\'utilisation',
                            'attr': {'class': 'form-check-input'}
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-add active mt-3">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

