{{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'mb-2 ms-2'}}) }}
    {{ form_row(form.youtube, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.people, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.level, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.image, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.category, {'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.ingredient, {'attr': {'class': 'mb-3 ms-2'}}) }}
    <button class="btn btn-add active mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
