{% extends 'base.html.twig' %}

{% block title %}Hello PlatsController!{% endblock %}

{% block body %}
<section class="presentation-entree">
    <h1>Les Plats</h1>
    <img src="/images/tajine.jpg" alt="">
    <ul class="choix">
        <li><a href="#poulet">Au poulet</a></li>
        <li><a href="#boeuf">Au boeuf</a></li>
        <li><a href="#porc">Au porc</a></li>
        <li><a href="#canard">Au canard</a></li>
        <li><a href="#poisson">Au poisson</a></li>
        <li><a href="#vegetarien">Végétarien</a></li>
    </ul>
</section>
<section class="poulet">
  <h2 id="poulet">Mes recettes au poulet</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in pouletRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-poulet btn btn-add active">Précédent</button>
      <button class="next-poulet btn btn-add active">Suivant</button>
    </div>
</section>
<section class="boeuf">
  <h2 id="boeuf">Mes recettes au boeuf</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in boeufRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-boeuf btn btn-add active">Précédent</button>
      <button class="next-boeuf btn btn-add active">Suivant</button>
    </div>
</section>
<section class="porc">
  <h2 id="porc">Mes recettes au porc</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in porcRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-porc btn btn-add active">Précédent</button>
      <button class="next-porc btn btn-add active">Suivant</button>
    </div>
</section>
<section class="canard">
  <h2 id="canard">Mes recettes au canard</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in canardRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-canard btn btn-add active">Précédent</button>
      <button class="next-canard btn btn-add active">Suivant</button>
    </div>
</section>
    <section class="poisson">
  <h2 id="poisson">Mes recettes au poisson</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in poissonRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-poisson btn btn-add active">Précédent</button>
      <button class="next-poisson btn btn-add active">Suivant</button>
    </div>
</section>    
    <section class="vegetarien">
  <h2 id="vegetarien">Mes recettes végétarienne</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in vegetarienRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                          {% if app.user %}
                          <div class="user-logged-in">
                            {% set isUserLiked = recipe.id in likedRecipeIds %}
                            {% if isUserLiked %}
                            <a href="#" class="bookmark liked" data-recipe-id="{{ recipe.id }}">
                              <i class="fas fa-bookmark float-end"></i>
                            </a>
                            {% else %}
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                              <i class="far fa-bookmark float-end"></i>
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
      <button class="prev-vegetarien btn btn-add active">Précédent</button>
      <button class="next-vegetarien btn btn-add active">Suivant</button>
    </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  function setupCategoryNavigation(categorySelector, prevButtonSelector, nextButtonSelector) {
    var categoryRecipes = document.querySelectorAll(categorySelector + ' .card');
    var categoryIndex = 0;
    var recipeCount = 5;

    for (var i = recipeCount; i < categoryRecipes.length; i++) {
      categoryRecipes[i].style.display = 'none';
    }

    var prevButton = document.querySelector(prevButtonSelector);
    var nextButton = document.querySelector(nextButtonSelector);

    var categorySection = document.querySelector(categorySelector);

    function checkButtons() {
      if (categoryIndex === 0) {
        prevButton.style.display = 'none';
      } else {
        prevButton.style.display = 'block';
      }

      if (categoryIndex + recipeCount >= categoryRecipes.length) {
        nextButton.style.display = 'none';
      } else {
        nextButton.style.display = 'block';
      }
    }

    nextButton.addEventListener('click', function() {
      for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
        if (categoryRecipes[i]) {
          categoryRecipes[i].style.display = 'none';
        }
      }

      categoryIndex += recipeCount;
      for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
        if (categoryRecipes[i]) {
          categoryRecipes[i].style.display = 'block';
        }
      }

      checkButtons();

      categorySection.scrollIntoView({ behavior: 'smooth', block: 'start' });
    });

    prevButton.addEventListener('click', function() {
      for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
        if (categoryRecipes[i]) {
          categoryRecipes[i].style.display = 'none';
        }
      }

      categoryIndex -= recipeCount;
      for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
        if (categoryRecipes[i]) {
          categoryRecipes[i].style.display = 'block';
        }
      }

      checkButtons();

      categorySection.scrollIntoView({ behavior: 'smooth', block: 'start' });
    });

    checkButtons();
  }

  setupCategoryNavigation('.poulet', '.prev-poulet', '.next-poulet');
  setupCategoryNavigation('.boeuf', '.prev-boeuf', '.next-boeuf');
  setupCategoryNavigation('.porc', '.prev-porc', '.next-porc');
  setupCategoryNavigation('.canard', '.prev-canard', '.next-canard');
  setupCategoryNavigation('.poisson', '.prev-poisson', '.next-poisson');
  setupCategoryNavigation('.vegetarien', '.prev-vegetarien', '.next-vegetarien');
});
</script>
{% endblock %}
