{% extends 'base.html.twig' %}

{% block title %}
  Hello StarterController!
{% endblock %}

{% block body %}
  <section class="presentation-entree">
    <h1>
      {{ category.name }}
    </h1>
    <img src="{{ image }}" alt="">
    <ul class="choix">
      {% for subCategory in category.subcategories %}
        <li>
          <a href="#cat-{{ subCategory.id }}">
            {{ subCategory.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  {% for subCategory in category.subcategories %}
    {% include 'entrees/_carousel.html.twig' with { subCategory: subCategory } %}
  {% endfor %}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function setupCategoryNavigation(categorySelector, prevButtonSelector, nextButtonSelector) {
        var categoryRecipes = document.querySelectorAll(categorySelector + ' .card');
        var categoryIndex = 0;
        var recipeCount = 5;

        for (var i = recipeCount; i < categoryRecipes.length; i++) {
          categoryRecipes[i].style.display = 'none';
        }

        var prevButton = document.querySelector(prevButtonSelector);
        var nextButton = document.querySelector(nextButtonSelector);

        var categorySection = document.querySelector(categorySelector);

        function checkButtons() {
          if (categoryIndex === 0) {
            prevButton.style.display = 'none';
          } else {
            prevButton.style.display = 'block';
          }

          if (categoryIndex + recipeCount >= categoryRecipes.length) {
            nextButton.style.display = 'none';
          } else {
            nextButton.style.display = 'block';
          }
        }

        nextButton.addEventListener('click', function() {
          for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
            if (categoryRecipes[i]) {
              categoryRecipes[i].style.display = 'none';
            }
          }

          categoryIndex += recipeCount;
          for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
            if (categoryRecipes[i]) {
              categoryRecipes[i].style.display = 'block';
            }
          }

          checkButtons();

          categorySection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        });

        prevButton.addEventListener('click', function() {
          for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
            if (categoryRecipes[i]) {
              categoryRecipes[i].style.display = 'none';
            }
          }

          categoryIndex -= recipeCount;
          for (var i = categoryIndex; i < categoryIndex + recipeCount; i++) {
            if (categoryRecipes[i]) {
              categoryRecipes[i].style.display = 'block';
            }
          }

          checkButtons();

          categorySection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        });

        checkButtons();
      }

      {% for subCategory in category.subcategories %}
        setupCategoryNavigation('.cat-{{ subCategory.id }}', '.prev-{{ subCategory.id }}', '.next-{{ subCategory.id }}');
      {% endfor %}
    });
  </script>
{% endblock %}
