{% extends 'base.html.twig' %}

{% block title %}Hello DessertsController!{% endblock %}

{% block body %}
<section class="presentation-entree">
    <h1>Les Desserts</h1>
    <img src="/images/Tarte fraise.jpg" alt="">
    <ul class="choix">
        <li><a href="#chocolat">Au chocolat</a></li>
        <li><a href="#fruit">Au fruit</a></li>
        <li><a href="#macaron">Les macarons</a></li>
        <li><a href="#autre">Les autres gourmandisses</a></li>
    </ul>
</section>
<section class="chocolat">
  <h2 id="chocolat">Mes dessserts au chocolat</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in chocolatRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                                <i class="fa-regular fa-bookmark float-end"></i>
                            </a>
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div> 
</section>
<section class="fruit">
  <h2 id="fruit">Mes desserts au fruit</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in fruitRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                                <i class="fa-regular fa-bookmark float-end"></i>
                            </a>
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>
<section class="macaron">
  <h2 id="macaron">Mes macarons</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in macaronRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                                <i class="fa-regular fa-bookmark float-end"></i>
                            </a>
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>
<section class="autre">
  <h2 id="autre">Mes autres gourmandisses</h2>
    <div class="painting-presentation">
        <div class="cards">
            {% for recipe in autresGourmandissesRecipes %}
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" />
                    <h5 class="card-title">{{ recipe.name }}</h5>
                </div>
                <div class="card__face card__face--back">
                    <img src="/images/lucky2.png" />
                    <div class="card-body"> 
                        <p class="card-text">
                            <a href="#" class="bookmark" data-recipe-id="{{ recipe.id }}">
                                <i class="fa-regular fa-bookmark float-end"></i>
                            </a>
                            <ul>
                                <li>Temps : <span>{{ recipe.time }}</span></li>
                                <li>Lien Youtube : <span><a href="{{ recipe.youtube }}">Cliquez ici</a></span></li>
                                <li>Difficulté : <span>{{ recipe.level }}</span></li>
                                <li>Nombre de personnes : <span>{{ recipe.people }}</span></li>
                            </ul>
                        </p>
                        <a href="{{ path('app_presentation_recette', {id: recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
