{{ form_start(form) }}
    {{ form_row(form.content, {'label_attr': {'class': 'my-custom-label'}, 'attr': {'class': 'mb-3 ms-2 form-control'}}) }}
    {{ form_row(form.commentRecipe, {'label_attr': {'class': 'my-custom-label'}, 'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.user, {'label_attr': {'class': 'my-custom-label'}, 'attr': {'class': 'mb-3 ms-2'}}) }}
    {{ form_row(form.validated, {'label_attr': {'class': 'my-custom-label'}, 'attr': {'class': 'mb-3 ms-2'}}) }}
    <button class="btn btn-add active mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
