{% set title = "Liste des commentaires" %}
{% extends 'admin_with_table.html.twig' %}

{% block table_content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaires</th>
                <th>Date de création</th>
                <th>Validé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="{{ comment.validated ? 'bg-success' : 'bg-danger' }}">{{ comment.validated ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
