{% set title = "Le commentaire" %}
{% extends 'admin_with_table.html.twig' %}

{% block table_content %}
    <table>
        <tbody>
            <tr>
                <th>Id : </th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Commentaire : </th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
            <th>Recette associée : </th>
            <td>{{ comment.commentRecipe }}</td>
        </tr>
            <tr>
                <th>Date de création : </th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Validé : </th>
                <td>{{ comment.validated ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between mt-2">
        <a href="{{ path('app_admin_comment_index') }}" class="btn btn-return active">Retour à la liste</a>
    </div>
{% endblock %}

