<footer>
    <div class="newsletter">
        {% if app.user %}
            <a href="{{ path('app_newsletter') }}" style="text-decoration: underline; color: rgb(167, 199, 150);">
                <h3>
                    Inscrivez-vous à notre newsletter pour recevoir les dernières recettes directement dans votre boîte de réception !
                    Vous serez informé à chaque fois qu'une nouvelle recette est publiée.
                </h3>
            </a>
        {% else %}
                <h3>
                    Inscrivez-vous à notre newsletter pour recevoir les dernières recettes directement dans votre boîte de réception !
                    Vous serez informé à chaque fois qu'une nouvelle recette est publiée.
                </h3>
            <p>Pour recevoir notre newsletter, vous devez d'abord vous inscrire sur notre site.</p>
        <a href="{{ path('app_register') }}" style="text-decoration: underline; color: rgb(167, 199, 150);">S'inscrire</a>
        {% endif %}
    </div>
    <section class="networks">
        <div class="contenair mt-2">
            <div class="icon facebook">
                <a href="https://www.facebook.com/LuckyDelice/" target="_blank">
                    <span><img src="/images/logoFace.png" alt=""></span>
                </a>
            </div>
            <div class="icon instagram">
                <a href="https://www.instagram.com/luckydelices/" target="_blank">
                    <span><img src="/images/logoInsta.png" alt=""></span>
                </a>
            </div>
            <div class="icon youtube">
                <a href="https://www.youtube.com/c/LuckyD%C3%A9lices/videos" target="_blank">
                    <span><img src="/images/logoYoutube.png" alt=""></span>
                </a>
            </div>
        </div>
    </section>

    <div class="footer-info">
        <div class="row">
            <!-- Plan du site -->
            <div class="col">
                <h4 class="sitemap">Plan du site</h4>
                <ul style="list-style-type: none">
                    <li><a href="{{ path('app_home') }}" class="site-link">Accueil</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="sitemap">Entrées</h4>
                <ul style="list-style-type: none">
                    <li><a href="{{ path('app_entrees') }}" class="site-link">Toutes les entrées</a></li>
                    <li><a href="{{ path('app_entrees') }}#cat-164" class="sub-site-link">Pour l'apéritif</a></li>
                    <li><a href="{{ path('app_entrees') }}#cat-165" class="sub-site-link">Entrée froide</a></li>
                    <li><a href="{{ path('app_entrees') }}#cat-166" class="sub-site-link">Entrée chaude</a></li>
                    <li><a href="{{ path('app_entrees') }}#cat-167" class="sub-site-link">Sauce</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="sitemap">Plats</h4>
                <ul style="list-style-type: none">
                    <li><a href="{{ path('app_plats') }}" class="site-link">Tous les plats</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-169" class="sub-site-link">Poulet</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-170" class="sub-site-link">Boeuf</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-171" class="sub-site-link">Porc</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-172" class="sub-site-link">Canard</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-173" class="sub-site-link">Poisson</a></li>
                    <li><a href="{{ path('app_plats') }}#cat-174" class="sub-site-link">Végétarien</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="sitemap">Desserts</h4>
                <ul style="list-style-type: none">
                    <li><a href="{{ path('app_desserts') }}" class="site-link">Tous les desserts</a></li>
                    <li><a href="{{ path('app_desserts') }}#cat-176" class="sub-site-link">Chocolat</a></li>
                    <li><a href="{{ path('app_desserts') }}#cat-177" class="sub-site-link">Fruit</a></li>
                    <li><a href="{{ path('app_desserts') }}#cat-178" class="sub-site-link">Macaron</a></li>
                    <li><a href="{{ path('app_desserts') }}#cat-179" class="sub-site-link">Autres gourmandises</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="sitemap">Liens légaux</h4>
                <ul style="list-style-type: none">
                    <li><a href="{{ path('app_mentions') }}" class="sub-site-link">Mentions légales</a></li>
                    <li><a href="{{ path('app_politiques') }}" class="sub-site-link">Politiques de confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; {{ "now"|date("Y") }} LuckyDelices</p>
        <p>Made by Stéphanie Merluzzo</p>
    </div>
</footer>



